.circle{
width: 800px;
height: 800px;
border-radius: 100%;
position: relative;
background-color: rgb(215, 0, 248);
}
.txt{
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    color: rgb(113, 59, 24);
}
img{
    height: 300px;
    width: 300px;
}
.menu{
    width: 600px;
    height: 200px;
    background-color: red;
}
.r{
    text-align: right;
    margin: 150px;
}
.link{
    flex-direction: row-reverse;
}
.flex{
    display: flex;
}
.pupu{
    flex-direction: column-reverse;
    text-align: right;
    width: 300px;
    height: 300px;
    background-color: rgb(150, 255, 166);